// Define variables for your color scheme

$red: #F15156;
$blue: #B6C9F0;
$yellow: #FFE464;
$orange: #FDA132;
$green: #5FBB92;
$light-green: #BEECD9;
$black: #000000;
$dark-gray: #2E3034;
$light-gray: #EEEEEE;
$light-blue: #E7EDFA;
$purple: #87659F;
$light-purple: #D0BEDC;
$brown: #BAA898;
$pink: #F8A3A6;
