<div class="navbar-agapay">
  <div onclick="toggleMenu(event, this)">
    <%=  image_tag "bars.svg", height: '25', width: '25' %>
  </div>
  <%= render 'shared/menu' %>
  <!-- Logo -->
  <div>
    <%= link_to "AGAPAY", charities_path, class: "navbar-brand"%>
  </div>
  <!-- Search -->
  <div class="navbar-form">
    <% if action_name == 'index' && controller_name == 'charities' %>
      <%= render 'shared/search_form'  %>
    <% end %>
  </div>
</div>




