<% @charities.each do |charity| %>
<ul class="list-inline">
  <li><%= image_tag "#{charity.logo}", size: "100x100" %></li>
  <li><%= link_to charity_path(charity) do %>
      <p><%= charity.name.downcase.capitalize %></p>
  <% end %></li>

</ul>
</div>
<% end %>
