/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin-bottom: 0px;
  margin-top: 70px;
  text-align: center;
  color: white;
  position: absolute;
  top: -13px;
  z-index: 60;
  width: 100%;
}

.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}

@media only screen
and (min-width: 320px)
and (max-width: 480px)
and (orientation: portrait) {

  .alert {
    margin-top: 70px;
  }

}
