/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin-bottom: 0px;
  margin-top: 82px;
  text-align: center;
  color: white;
  position: absolute;
  top: -13px;
  z-index: 0;
  width: 100%;
  left: 0;
}

.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
