.card-wrapper {
  margin-top: 30px;
  height: 400px;
  position: relative;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}
.card {
  height: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  position: relative;

  .card-hover {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    color: transparent;
    z-index: 3;
    text-decoration: none;
      &:hover {
      color: white;
      text-decoration: none;
      background-color: $black;
      border-radius: 5px;
      opacity: 0.4;
    }
  }
}

.card-favorite {
  position: absolute;
  right: 30px;
  top: 15px;
  width: 30px;
  z-index: 4;
  .fill {
      fill: none;
      stroke: $light-gray;

    }
  a {
    &:hover {
      .fill {
        fill: $red;
        stroke: $red;
      }
    }
  }
  svg {
    width: 25px;
  }
  .liked {
    .fill {
      fill: $red;
      stroke: $red;
    }
  }
}
.card-photo {
  border-bottom: 1px solid #light-gray;
  padding-bottom: 15px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-content {
  padding: 0px 0px 0 20px;
  color: $dark-gray;
  p {
    font-size: 0.9em;
    color: $dark-gray;
    font-weight: 300;
    line-height: 24px;
  }
  a {
    text-decoration: none;
  }
}
// .card-title a {
//   text-decoration: none;
//   color: $dark-gray;
//   &:hover {
//     color: $light-gray;
//   }
// }
