.categories {
  border-radius: 20px;
  margin-left: 5px;
  padding: 10px 20px 10px 20px;
  margin-top: 15px;
}

.tag-animals {
  background-color: #F8A3A6;
}

.tag-health {
  background-color: #F15156;
}

.tag-environment {
  background-color: #5FBB92;
}

.tag-arts-culture {
  background-color: #87659F;
}

.tag-international {
  background-color: #FDA132;
}

.tag-education {
  background-color: #FFE464;
}

.tag-indigenous-peoples {
  background-color: #BAA898;
}

.tag-social-services {
  background-color: #B6C9F0;
}
