.categories {
  border-radius: 20px;
  margin-left: 5px;
  padding: 10px 20px 10px 20px;
  margin-top: 15px;
}

.category-button{
  width:50% !important;
}

.preferences-bloc{
  display: flex;
  justify-content: center;
  margin-top:30px;
}
.card-category {
  padding: 0px 15px;
  color: white;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  flex-wrap: wrap;
}
.show-category {
  padding: 0px 20px;
  color: white;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  flex-wrap: wrap;
}

.focus-box.preference-box {
    height: 265px;
    text-align: center;
    margin-top: 3px;
    p{
      font-size:14px;
      color:black;

      &:hover{
        color:black;
      }
    }
}


.tag-animals {
  background-color: #F8A3A6;
}

.tag-health {
  background-color: #F15156;
}

.tag-environment {
  background-color: #5FBB92;
}

.tag-arts-culture {
  background-color: #87659F;
}

.tag-international {
  background-color: #FDA132
}

.tag-education {
  background-color: #FFE464
}

.tag-indigenous-peoples {
  background-color: #BAA898
}

.tag-social-services {
  background-color: #B6C9F0
}

@media only screen
and (min-width: 320px)
and (max-width: 480px)
and (orientation: portrait) {
.focus-box.preference-box {
    height: 170.5px;}

.category-button{
  width:100% !important;
}


}
