.list-inline > li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: -2px;
}
.categories {
  border-radius: 20px;
  margin-left: 5px;
  padding: 10px 20px 10px 20px;
  margin-top: 15px;
}

.animals {
  background-color: #F8A3A6;
}

.health {
  background-color: #F15156;
}

.environment {
  background-color: #5FBB92;
}

.arts-culture {
  background-color: #87659F;
}

.international {
  background-color: #FDA132;
}

.education {
  background-color: #FFE464;
}

.indigenous-peoples {
  background-color: #BAA898;
}

.social-services {
  background-color: #B6C9F0;
}


