.link-purple{
  text-decoration: none;
  color: $purple;
  opacity: 0.8;
  &:hover{
    text-decoration: none;
    color: $purple;
    opacity: 1;
  }
}
.signin-links {
  margin: 15px 0;
  line-height: 30px;
  a {
    text-decoration: none;
    color: $green;
    opacity: 0.8;
    &:hover{
      text-decoration: none;
      color: $green;
      opacity: 1;
    }
    &:visited {
      color: $green;
    }
  }
}

