#burger-menu {
  height: 100vh;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  position: fixed;
  top: 0;
  left: -400px;
  bottom: 0;
  z-index: 50;
  transition: all 0.3s ease;
  width: 400px;
  i {
    padding: 0 10px 0 0;
    color: $purple;
    &:hover {
      color: $light-purple;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 30px 30px;
    line-height: 50px;
  }
  li {
    cursor: pointer;
  }
  li > a {
    transition: color 0.3s ease;
    font-weight: lighter;
    color: $gray;
    font-size: 16px;
    line-height: 22px;
    padding: 10px 20px;
    &:hover {
      background: transparent !important;
      color: $dark-gray;
      text-decoration: none;
    }
  }
}
.user-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $light-gray;
  padding: 50px 30px;
  h2 {
    font-size: 24px;
    font-weight: 600;
  }
  a {
    text-decoration: none;
    color: $dark-gray;
    &:hover {
      color: $gray;
    }
  }
}
.user-name  {
  padding: 0 30px;
  text-transform: uppercase;
}
.avatar-menu {
  img {
    width: 65px;
  }
}
.btn_close {
  position: absolute;
  right: 15px;
  top: 15px;
}
.open-menu {
  left: 0 !important;
}
.menu-signin {
  padding: 50px 30px;
  h2 {
    font-size: 24px;
    font-weight: 600;
  }
}

.avatar-menu img {
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

.avatar-wrapper{
  display: flex;
  justify-content: center;
}

.photo-input {
  color: $dark-gray;
  background: $light-gray
}

.form-group.form-group-valid {
  input[type=text] {
    border-bottom: 1px solid #EEEEEE;
    box-shadow: none;
    padding-left: 2px;
    text-transform: capitalize;
  }
}


.edit-user-form input.btn.btn.btn.btn-signin {
    width: 150px;
    margin: auto;
}


@media only screen
and (min-width: 1024px) {
.edit-user-form {
    width: 900px;
    margin: auto;
  .form-group {
    margin-bottom: 30px;
    width: 216px;
  }
  .avatar-container {
    margin: 22px 0;
  }

  .inputs-profil {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

}

}
@media only screen
and (min-width: 320px)
and (max-width: 480px)
and (orientation: portrait) {

  .profile-page {

    width: 100%;
    /* padding: 20PX 40px !important; */
}

  #burger-menu {
    height: 100vh;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    position: fixed;
    top: 0;
    left: -417px;
    bottom: 0;
    z-index: 50;
    transition: all 0.3s ease;
    width: 100%;}

    .avatar-container {
      margin: 28px 0;
    }
    .form-group.form-group-valid {
      width: 94%;
    }

    .cancel-account {
      .show-back {
        padding: 12px 0;
      }

      a {
        color: #87659F;
      }
      .back-button {
        padding: 15px 0px;
        color: #8b8b8b;
        font-size: 16px;
        border-radius: 2px;
        text-decoration: none;
      }
    }
  }
