/* Main navbar */
.navbar-agapay {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
  align-items: center;
  justify-content: space-between;
  }
/* Logo */
.navbar-brand {
  font-family: "Karla", "Raleway", "Helvetica", "sans-serif";
  color: $dark-gray;
  font-size: 24px;
  font-weight: bold;
  a {
    text-decoration:none;
  }
  &:hover {
    background-image: -webkit-gradient( linear, left top, right bottom, color-stop(0, $green), color-stop(1, $light-purple));
    background-image: gradient( linear, left top, right bottom, color-stop(0, $green), color-stop(1, $light-purple) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
   &:focus {
    text-decoration:none;
    color: $dark-gray;
  }
}
/* Basic navbar item */
.navbar-agapay-item {
  cursor: pointer;
  padding: 0;
}
/* Navbar link */
.navbar-agapay-link {
  color: #616668;
  font-size: 14px;
  &:hover {
    color: #da552f;
    text-decoration: none;
  }
}
/* Dropdown menu */
.navbar-agapay-dropdown-menu {
  margin-top: 10px;
  box-shadow: 4px 4px 4px #E6E6E6;
  border-color: #E6E6E6;
  left: 5px;
  right: 0px;
  min-width: 210px;
  i {
    padding: 0 10px 0 0;
    color: $purple;
  }
  li {
    transition: color 0.3s ease;
    font-weight: lighter;
    color: $gray;
    font-size: 16px;
    line-height: 22px;
  }
  li > a {
    transition: color 0.3s ease;
    font-weight: lighter;
    color: $gray;
    font-size: 16px;
    line-height: 22px;
    padding: 10px 20px;
    &:hover {
      background: transparent !important;
      color: $dark-gray;
    }
  }
}
.navbar-form {
  display: flex;
  /* width: 800px; */
  height: 70px;
  background: white;
  align-items: center;
  position: relative;
  z-index: 3;
}
