.search {
  position: relative;
  top: 15px;

  padding: 0px;
/* -webkit-transform: translateX(-96%); */
/* transform: translateX(-96%); */
}

.tt-suggestion.tt-selectable {
  text-transform: lowercase;
  background-color: white;
  font-size: 16px;
}

h3.search-name {
  color: #565656;
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #565656;
  padding: 0px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.tt-open{
  background-color: white;
  padding: 0 30px 30px 30px;
}

input#query {
  text-transform: lowercase;
}



input[type=text] {
  font-size: 16px;
  text-transform: lowercase;
  border: none;
  box-shadow: none;


}

.form-group.filter {
  width: 50px;
  position: relative;
  right: 27px;
}
input[type="image"] {
  position: relative;
/* left: -43px; */
width: 62%;
background: #ffffff00;
}
.bloc{
  border-bottom: 1px solid #EEEEEE;
}
.search_wrapper {
  position: relative;
  top: -15px;
  display: flex;

}

.search_wrapper > div{
  position: relative;
  z-index: 25;
  opacity: 1;
  transition: all .5s ease;
  width:230;}
// .search_wrapper > div:hover{
//   opacity: 1;
//   width:230px;}
.search_wrapper {
  position: relative;
  top: -15px;
  left: 44px;
  display: flex;
  width: 100%;
}
button.submit {
  width: 49px;
  background: #ffffff00;
  position: relative;
  left: -43px;
  z-index: 18;
}
button{border:none;
  background: #ff000000;}

  section li {
    width: 116px;
    height: 110px;
    margin: 8px;
    background: #eeeeee;
    display: block;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid #56565600;
    &:hover {
      border: 1px solid #565656;
      cursor: pointer;
    }
  }



  section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    justify-content: center;
  }
  ul.search {
    position: absolute;
    top: 28px;
    left: -215px;
    width: 267px;
  }


  input[type="checkbox"] {
    position: relative;
    opacity:1;
  }

  .isSelected {
    background-color: lightgreen;
  }

