#the-basics{
  display: flex;
}

.search-filter-bar {
  border-bottom: 1px #565656 solid;
  width: 236px;
  display: flex;
  margin-right: 6px;
}

.search-bar{
  display: flex;
  &textarea:focus, input:focus, *:focus {
    outline: 0 !important;
  }

}
#search-bloc{
  display: flex;
  z-index: 21;
  top: 0;
  align-items: center;
  position:fixed;
  right: -400px;
  transition: all 0.5s ease;
  height: 70px;
  background: white;
  justify-content: center;
  &.open-search{
    right: 45px;
  }
}


#filters-button {
  margin: 0 16px 0 3px;
}
button.submit {
  border: none;
  background: white;
}
#sidebar {
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  right: -550px;
  bottom: 0;
  z-index: 4;
  transition: all 0.3s ease;
  width: 550px;
  display: flex;
  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 10px 49px;
    li {
      width: 200px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin: 6px 0;
      &:hover{
        background-color: $light-gray;
      }
    }
  }
  &.open{
    right: 0;
  }
  &#filters-close {
    position: relative;
    top: 10px;
    left: 10px;
  }

}




.tt-suggestion.tt-selectable {
  text-transform: lowercase;
  background-color: white;
  font-size: 16px;
}

h3.search-name {
  color: #565656;
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #565656;
  padding: 0px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.tt-open{
  background-color: white;
  padding: 0 30px 30px 30px;
  width:290px;
  position: absolute !important;
  left: -33px !important;
}

input#query {
  text-transform:capitalize;
}

input[type=text] {
  font-size: 16px;
  text-transform: lowercase;
  border: none;
  box-shadow: none;
}



@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

  #sidebar ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 10px 2px;
    margin-right: 37px;
  }

  #sidebar {
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 44444444;
    right: -550px;
    bottom: 0;
    /* z-index: 4; */
    transition: all 0.3s ease;
    width: 100%;
    display: flex;
  }


  #sidebar ul li {
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 6px 26px;
  }

  #search-bloc.open-search {
    right: 0;
    width: 100%;
    background: white;
  }
}


