.wrapp {
  background-color: white;
}
.show-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.img_show {
  flex: 1 1 auto;
  text-align: center;
  margin: 10px;
  margin-bottom: -10px;
  border-radius: 2px;
  border-bottom: solid;
  border-bottom-width: thin;
  border-bottom-color: #E0E0E0;
}

.show-description {
  background-color: white;
  max-width: 900px;
  margin: auto;

  .show-style {
    span {
      font-size: 20px;
      font-weight: bold;
    }

    h3 {
      text-transform: lowercase;
    }
    h3::first-line {
      text-transform: capitalize;
    }

    p:last-of-type span {
        font-weight: lighter;
    }

  }

  .show_title {
    p {
      font-size: 26px;
    }
  }
  p {
    padding: 10px;
    font-size: 18px;
    margin: 0 0 10px;
    text-align: left;
    margin-top: -15px;
  }
}
.show-container {
  background-color: white;
}

.mapshow {
  margin: auto;
  background-color: white;
  width: 95%;
  margin-bottom: auto;
}

#map {
  width: 300px;
  height: 225px;
  position: relative;
}
