.show-container {
  display: flex;
}
.img_show {
  flex: 1 1 auto;
  justify-content: center;
  text-align: center;
  margin: 10px;
  margin-bottom: -50px;
  width: 180px;
  vertical-align: middle;
  border-radius: 3px;
  height: 170px;
}

.show-description {
  background-color: white;
  margin: 2px;

  .show_title {
    p {
      font-size: 20px;
    }
  }
  p {
    padding: 10px;
    font-size: 18px;
    margin: 0 0 11px;
    text-align: left;
  }
}
.show-container {
  background-color: white;
}

.mapshow {
  padding: 16px;
}

#map {
  width: 300px;
  height: 225px;
  position: relative;
}
