.bd-example-modal-lg {
  text-align: center;
}

div#charity-modal-1 {
  padding-right: 0px;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    height: 3px;
}

/* The slider itself */
.slider-track {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 3px; /* Specified height */
    background: $light-gray; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    left: 9px;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider-selection {
  position: absolute;
  background-image: none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
  box-shadow: none;
  box-sizing: none;
  border-radius: none;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: $light-gray; /*  background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: $light-gray; /*  background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
}

.tooltip-inner {
  background-color: $light-gray;
  color: $dark-gray;
  font-weight: bold;
  padding: 10px 8px;
  width: 40px;
  height: 40px;
}

.slider .tooltip.top {
  margin-top: -51px;
  margin-left: -20px !important;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: $light-gray;
}
.slider-handle {
  margin-left: -10px;
  margin-top: -5px;
  background-color: black;
}
.slider-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #000;
  background-image: linear-gradient(to bottom, #000 0%, #000 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  -webkit-filter: none;
  filter: none;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 0px solid transparent;
}

.form-login {
  h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
    color: $dark-gray;
  }
  h4 {
    font-size: 18px;
  }
}
.modal-button {
  padding: 10px 26px;
  font-size: 16px;
  border-radius: 2px;
  color: #fff;
  background-color: $green;
  border-color: $green;
  width: 150px;
  &:hover {
    color: #fff;
    background-color: #45a279;
    border-color: #3a8966;
    text-decoration: none;
  }
}
.form-group.slider.optional.donation_donation_amount {
  margin: 50px 0;
}
